.like-container{
  display: flex;
  align-items: center;
  width: 100%;
  background: #ffffff;
  padding: 15px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border: 1px solid #9e9ea2;
  border-top: none;
}

.modal_userNick{
  margin-left: 15px;
}

.btn-modal{
  background: none;
  outline: none;
  border:none;
}